<% @records.each do |record| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= record.name %></h1>
    <i><%= record.title %></i><br /><br />
    <p><%= record.description %></p><br />
  </div>
<% end %>

